@media (max-width: 785px){
  .headShot img{
    width: 35%;
  }
  .link-group{
    width: 31%;
  }
  .portfolio-container{
    flex-direction: column;
  }
  .portfolio-item{
    width: 100%;
  }
  .portfolio-item:hover{
    transform: none;
  }
  .portfolio-item img:hover{
    transform: scale(1.05);
  }
}

@media (max-width: 625px){
  .links{
    flex-direction: column;
  }
  .link-group{
    width: 100%;
    margin-top: .5em;
  }
  .link-group:first-child{
    margin-top: 0;
  }
}

@media (max-width: 530px){
  .intro{
    width: 66.6%;
  }
  .headShot img{
    width: 50%;
  }
}

@media (max-width: 400px){
  .intro{
    width: 90%;
  }
  .headShot img{
    width: 80%;
  }
}